body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main {
    display: flex;
    flex-direction: column;

    gap: 60px;

    font-size: 50px;

    font-family: Inter, sans-serif;
    font-weight: bold;
}

#main > div {
    width: 64vw;
    height: 400px;
    background: #3E3E83;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#main > div > h1 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
#main > div > img {
    width: auto;
    height: 300px;
}
#main > div > h2 {
    float: right;
    position: relative;
    bottom: 100px;
}