body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.candidateCard {
    width: 60vw;
    height: 400px;
    background: #3E3E83;
    display: flex;
}
.candidateName {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#candidateNameForCard {
    position: absolute;
    margin-right: 30px;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 5rem;
}
#viewVideoBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 75%;
    right: 30px;
    width: 55%;
    height: 15%;
    font-size: 3ex;
    border-radius: 15px;
    background: #FFFFFF;
    outline: none;
    border: none;
}
.candidateImgDiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.candidateImg {
    width: auto;
    height: 100%;
}
.candidateData {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 60vw;
}
.nameAndGrade {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#candidateNameDiv {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
#candidateNameAndSurname {
    font-size: 50px;
    font-family: Inter, sans-serif;
    font-weight: bold;
}
#candidateGradeDiv {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#candidateGrade {
    font-size: 50px;
    float: right;
    font-family: Inter, sans-serif;
    font-weight: bold;
}
.candidateDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C4C4C4;
    border-radius: 15px;
    padding: 17px;
}
.candidateDescription > p {
    font-family: Inter, sans-serif;
    font-size: 30px;
}
.votePart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background: #C4C4C4;
    padding: 17px;
    border-radius: 15px;

    font-family: Inter, sans-serif;
    font-weight: bold;
}
.votePart > input {
    font-size: 40px;
    width: 100%;
    height: auto;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 15px;
    background: #FFFFFF;

}
::-webkit-input-placeholder {
    color: grey;
    text-align:center;
}
.votePart > button {
    color: white;
    font-size: 40px;
    width: 100%;
    height: auto;
    border: none;
    outline: none;
    border-radius: 15px;
    background: #3E3E83;
}

.popUp {
    font-family: Inter, sans-serif;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: #a5a5a5;
    padding: 25px;
    border-radius: 15px;
    width: auto;
    text-align: center;

    font-size: 30px;

    box-shadow: 0 10px 10px 1px #b8b8b8;
}
.popUp button {
    outline: none;
    border: none;
    color: white;

    margin-bottom: 10px;

    width: 100%;
    height: 5vh;

    font-size: 30px;
    background: #3E3E83;
    border-radius: 35px;
}

.videoPopup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.popupContent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    padding: 20px;
    width: 80%;
    height: 60%;
    max-width: 600px;
}
.popupContent > video {
    width: 100%;
    height: auto;
}
.close {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
.back {
    background: #3E3E83;
    display: flex;
    position: absolute;
    border-radius: 35px;
    padding: 5px;
    width: 60px;
    height: 60px;
    top: 30px;
    left: 30px;
    box-shadow: none;
    transition: box-shadow 0.3s;
}
.back img {
    filter: invert(1) drop-shadow(0 0 0);
    transition: filter 0.3s ease-out;
    width: 60px;
    height: 60px;
}
.back img:hover {
    filter: invert(1) drop-shadow(2px 2px 2px rgba(255, 255, 255, 0.47))
}
.back:hover {
    box-shadow: 2px 2px 2px rgba(39, 106, 194, 0.35);
}
footer {
    display: flex;
    width: 100%;
    height: 100px;
}
@media (max-width: 1200px) {
    #candidateNameForCard {
        display: none;
    }
    .votePart > input {
        font-size: 70px;
        width: 100%;
        height: auto;
        border: none;
        outline: none;
        text-align: center;
        border-radius: 15px;
        background: #FFFFFF;

    }
    .votePart > button {
        color: white;
        font-size: 70px;
        width: 100%;
        height: auto;
        border: none;
        outline: none;
        border-radius: 15px;
        background: #3E3E83;
    }
    .candidateDescription > p {
        font-family: Inter, sans-serif;
        font-size: 50px;
    }
    .candidateData, .candidateCard {
        width: 80vw;
    }
}