body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-size: 50px;
}
.dateText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: -100px;
}
.leftTimeSpan {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.elements {
  display: flex;
  flex-direction: column;
}