body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5b4c4c;
  font-family: "Inter", sans-serif;
}
iframe {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
.dateText {
  display: flex;
}
.dateText > h1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.dataSliderShow {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
}

.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.line {
  width: 3px;
  height: 580px;
  background-color: #000000;
}
.highPlate, .lowPlate {
  width: 15px;
  height: 3px;
  background: #000;
}
.point {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -580px;
  background: #FFC8A7;
  border-radius: 90px;
  transition: top 1.3s cubic-bezier(0.36, 0.25, 0.19, 0.99);
}

.elements {
  display: flex;
  flex-direction: column;

}